body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

#user-info, #cart-info {
    margin-top: 10px;
}

section {
    text-align: center;
    margin: 20px 0;
}

#searchInput {
    padding: 5px;
    margin-right: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.product {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

#cart-info {
    color: #333;
    padding: 1em;
    text-align: center;
}

#user-info p {
    color: #fff;
    margin: 0;
}
